body{
    margin:0;
    padding:0;
    background: #f5f5f5;
}
#cover{
    background: #000; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    filter: alpha(opacity=30); 
    opacity: 0.3; 
    display: none; 
    z-index: 2 "
}
.header{
    background-color:#006bff75;
    height:18vh;
}
.header .logobox{
    display: flex;
    justify-content: center;
}
.header .logobox h1{
    color:white;
    font-family: Helvetica, serif;
    font-size: 8vh;
    text-align: center;
    text-shadow:2px 2px 5px#868585;
}

.btn-group{
    margin:1vh 1.4vh;
    height:5vh;
}
.btn-group embed{
    height:3.4vh;
}
.icon{
    padding:1vh;
    float:left;
    border-radius:5px;
}
.cmp-all,.clr-cmp{
    float:right;
    padding:1vh;
    border-radius:5px;
}
.cmp-all:hover,.clr-cmp:hover,.icon:hover{
    background-color:#dddcdc
}
span>embed,span>span{
    vertical-align:middle;
    font-size:2vh;
}

.none{
    text-align:center;
    display:none;
}
.main-hint{
    font-size:2.4vh;
}
.sub-hint{
    font-size:2vh;
    color:#868585
}

.input-list{
    position:fixed;
    bottom:2.7vh;
    right:2.7vh;
    text-align:center;
}
.input-list button{
    background-color:#006bff75;
    border-color: #006bff75;
    border-radius:5.4vh;
    width: 10.8vh;
    height: 10.8vh;
    box-shadow:3px 3px 5px #868585

}
.input-list button embed{
    width:20%;
}

.input-box{
    position: absolute;
    position: absolute;
    left: 10%;
    top: 35%;
    width: 80%;
    height: 30%;
    text-align:center;
    background-color: white;
    border-radius:20px;
    display:none;
}
.input-box input[type="text"]{
    width:80%;
    height:50%;
    padding:10px 10px 0;
    border:none;
    outline:none;
    caret-color:blue;
    font-size: 2.5vh;
}
.input-group,.level-submit{
    height:6.8vh;
    width:95%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-group input{
    line-height: 2vh;
    outline:none;
    font-size:2vh;
    border:none;
}
.level-submit select{
    display: flex;
    height:4vh;
    outline:none;
    font-size:2vh;
    border:none;
}
.submit button{
    background-color: white;
    border:none;
}
input[type="submit"]{
    background-color:#006bff75;
    height:4.2vh;
    width:25%;
    color:white;
    border-color:#006bff75;
    border-radius:10px;
    font-size:2.5vh;
    box-shadow:2px 2px 5px#868585;
}
ul{
    list-style:none;
    margin: 0;
    padding: 0;
}

#todo-list li{
    font-size: 2.5vh;
    position:relative;
    height:5.5vh;
    padding:5px;
    -webkit-transform: translateX(0px);
}
#todo-list li.completed label{
    color:#d9d9d9;
    text-decoration: line-through;
}
#todo-list li:hover{
    background-color:#dddcdc;
}
.view .toggle{
    margin: auto 5px;  
    zoom:180%;
    vertical-align:-webkit-baseline-middle;
}
.edit{
    vertical-align:-webkit-baseline-middle;
    width:55%;
    height:4vh;
    font-size:2.5vh;
    display:none;
}
.todo-label{
    vertical-align: -webkit-baseline-middle;
}
.todo-level{
    color:blue;
    vertical-align: -webkit-baseline-middle;
}
.datetime{
    vertical-align:-webkit-baseline-middle;
    position:absolute;
    right:5px;
    font-size:2vh;
    text-align: center;
}
.time{
    font-size:1.8vh;
}

.filter {
    color: #777;
    height: 4vh;
    text-align: center;
}
.list-num {
    float:left;
    height:3.4vh;
    margin-left:10px;
    font-size:2vh;
}

.is-cmp{
    float:right;
    background-color:#006bff75;
    height:3.4vh;
    color:white;
    border-color:#006bff75;
    border-radius:10px;
    font-size:2vh;
    box-shadow:2px 2px 5px#868585;
    outline:none;
    margin-right:10px;
}
.sort-level{
    float:right;
    background-color:#006bff75;
    height:3.4vh;
    color:white;
    border-color:#006bff75;
    border-radius:10px;
    font-size:2vh;
    outline:none;
    box-shadow:2px 2px 5px#868585;
}
.list{
    overflow-y:auto;
    overflow-x:hidden;
    height:50vh;
}

.input-btn{
    font-size:6.8vh;
    color:white;
}
.del-btn{
    position: absolute;
    top: 0;
    width:300px;
    height:100%;
    right: -300px;
    background: #ffae00;
}
.cmp-btn{
    position: absolute;
    top: 0;
    width:300px;
    height:100%;
    left: -300px;
    background: #05df849c;
}
.del-btn embed{
    height:3.4vh;
    margin:10px 0 10px 5px;
}
.cmp-btn embed{
    height:3.4vh;
    float:right;
    margin:10px 5px 10px 0;
}